.table-icon {
  margin-right: 5px;
  font-size: 14px;
  color: #666;
}

.display-show {
  display: block;
}

.display-none {
  display: none;
}

.viewer {
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
}
